@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,
html {
	font-family: 'Quicksand', sans-serif;
}


body {
	background: black;
	color: white;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.avatar {
	display: flex;
	align-items: center;
	margin: 16px;
}

.avatar>img {
	border: solid;
	border-width: 0.5px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.avatar>span {
	padding: 16px;
}

.room-id {
	justify-content: center;
	margin: 5px;
	display: flex;
	align-items: center;
}

.room-id>* {
	font-size: 18px;
}

button.btn {
	margin: 5px;
	border: solid;
	padding: 16px;
	background: none;
	color: white;
	transition: 0.5s;
}

button:hover {
	background: white;
	color: black;
}

.btn-select {
	display: flex;
	justify-content: center;
}

.lobby {
	display: none;
	top: 0;
	left: 0;
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
}

.lobby.open {
	display: block;
}


.info-match {
	margin-top: 70px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.board {
	display: none;
	top: 0;
	left: 0;
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
}

.board.open {
	display: block;
}

.time-counter {
	padding: 16px;
	text-align: center;
	font-size: 25px;
}

.board-info-match {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

#game {
	border-collapse: collapse;
	justify-content: center;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	z-index: 1002;
	cursor: none;
}

#overlay.active {
	display: flex;
	align-items: center;
	flex-flow: column;
}



#game td {
	border: 1px solid white;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer
}

#game td.X,
#game td.O {
	cursor: default
}

#game td.X {
	color: green
}

#game td.O {
	color: red
}

#game td.X:after {
	content: "X"
}

#game td.O:after {
	content: "O"
}

#game.inactive {
	background: silver
}



.loader {
	display: flex;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}

.loader::before {
	width: 56px;
	height: 56px;
	border: 4px solid #ff3e00;
	border-top-color: transparent;
	border-radius: 50%;
	animation: loader 1.5s linear infinite;
}

.loader::after {
	width: calc(56px - 2px);
	height: calc(56px - 2px);
	border: 2px solid transparent;
	/*	border-top-color: #ff3e00*/
	border-radius: 50%;
	animation: loader 300s linear reverse infinite;
}

@keyframes loader {
	100% {
		transform: rotate(1turn);
	}
}

#list-room {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.room-info {
	width: 250px;
	padding: 16px;
	margin: 5px;
	border: solid;
}

#lang-select {
	color: white;
	padding: 5px;
	background: transparent;
	border-radius: 20px;
}

select:focus,
input:focus {
	outline: none;
	border-color: white;
}

#result {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	z-index: 1002;
	cursor: none;
	transition: 0.4s;
	backdrop-filter: blur(8px);
}

#result.active {
	display: block;
	-webkit-animation-name: displayanimation;
	-moz-animation-name: displayanimation;
	-o-animation-name: displayanimation;
	animation-name: displayanimation;
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	-o-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.result-info {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;

}

@keyframes displayanimation{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 0.9;
	}
}