@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*,html{
	font-family: 'Quicksand', sans-serif;
}
body{
	background: black;
	color: white;
}
.avatar{
	display: flex;
	align-items: center;
	margin: 16px;
}
.avatar > img{
	border: solid;
	border-width: 0.5px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.avatar > span{
	padding: 16px;
}

.room-id{
	justify-content: center;
	margin: 5px;
	display: flex;
	align-items: center;
}

.room-id>*{
	font-size: 18px;
}

button{
	margin: 5px;
	border: solid;
	padding: 16px;
	background: none;
	color: white;
}

.btn-select{
	display: flex;
	justify-content: center;
}

.lobby{
	display: none;
	top: 0;
	left: 0;
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
}

.lobby.open{
	display: block;
}


.info-match{
	margin-top: 150px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.board {
	display: none;
	top: 0;
	left: 0;
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
}

.board.open {
	display: block;
}

.time-counter{
	padding: 16px;
	text-align: center;
	font-size: 25px;
}

.board-info-match{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

#game {
	border-collapse: collapse ;
	justify-content: center;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1002;
	cursor: none;
}

#overlay.active {
	display: block;
}



#game td { border: 1px solid white; width: 40px; height: 40px; text-align: center; cursor: pointer } 
#game td.X, #game td.O { cursor: default }
#game td.X { color: green }
#game td.O { color: red }
#game td.X:after { content: "X" }
#game td.O:after { content: "O" }
#game.inactive { background: silver }