@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import "./animate.min.css";

*,
html {
	font-family: 'Quicksand', sans-serif;
}

body {
	background: black;
	color: white;
}

.btn {
	background: transparent;
	color: white;
	border: solid;
	padding: 10px;
	transition: 0.5s;
}

.btn:hover {
	background: white;
	color: black;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 10px;
}

.avatar {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.avatar>img {
	width: 40px;
	height: 40px;
}

.avatar>span {
	padding: 5px;
	font-size: 20px;
	font-weight: bolder;
}

.lang-select {
	border-radius: 20px;
	background: transparent;
	color: white;
	padding: 5px;
}

.lang-select:focus {
	outline: none;
}

.container {
	padding: 10px;
}

.tab {
	display: block;
}

.tab-header {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.tab-item {
	padding: 10px;
	background: none;
	color: white;
}


.tab-item.active {
	border-bottom: solid;
}

.tab-content {
	padding-top: 20px;
	padding-left: 10px;
}

.tab-content>* {
	display: none;
}

.tab-content>*.active {
	display: block;
}

.loader {
	width: 50%;
	display: grid;
	place-items: center;

}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}

.loader::before {
	width: 56px;
	height: 56px;
	border: 4px solid #ff3e00;
	border-top-color: transparent;
	border-radius: 50%;
	animation: loader 1.5s linear infinite;
}

.loader::after {
	width: calc(56px - 2px);
	height: calc(56px - 2px);
	border: 2px solid transparent;
	/*	border-top-color: #ff3e00*/
	border-radius: 50%;
	animation: loader 300s linear reverse infinite;
}

@keyframes loader {
	100% {
		transform: rotate(1turn);
	}
}

table {
	border-collapse: collapse;
}

table td,
th {
	border: 1px solid white;
	margin: 0px;
	cursor: pointer;
}

.create-room {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
	transition: 1s;
	backdrop-filter: blur(10px);
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.create-room.active {
	display: block;
}



.close-btn {
	background: transparent;
	color: white;
	border: none;
	padding: 5px;
	font-size: 25px;
	font-weight: bold;
	transition: 0.5s;
}

.create-room>.window-header {

	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 10px;
}

.match-info {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.match-info>* {
	padding: 10px;
}

.match-info>.avatar {
	flex-flow: column;
	margin: 0px 15px;
}

.match-info>.avatar>span {
	font-size: 15px;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	z-index: 10002;
	cursor: none;
}

#overlay.active {
	display: flex;
	align-items: center;
	flex-flow: column;
}

#game {
	justify-content: center;
}

#game td {
	border: 1px solid white;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer
}

#game td.X,
#game td.O {
	cursor: default
}

#game td.X {
	color: green
}

#game td.O {
	color: red
}

#game td.X:after {
	content: "X"
}

#game td.O:after {
	content: "O"
}

#game.inactive {
	background: silver
}

.board {
	display: none;
	top: 0;
	left: 0;
	background: transparent;
	backdrop-filter: blur(19px);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.board.active {
	display: block;
}


.board-info-match {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.notification-group {
	position: fixed;
	top: 100;
	left: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	z-index:9999999;
}

.notification {
	display: flex;
	margin: 16px;
	padding: 16px;
	background: white;
	backdrop-filter: blur(9px);
	color: black;
	border-radius: 5px;
	text-align: center;
	align-items: center;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

#result{
display: none;
	top: 0;
	left: 0;
	background: transparent;
	backdrop-filter: blur(19px);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999990;
}

#result.active {
	display: block;
}

.chat-msg{
	display: block;
	width: 99%;
	max-height: 300px;
	overflow-y: scroll;
}

.msg{
	display: block;
	flex-wrap: wrap;
	background: #A5FFF8;
	color: black;
	padding: 16px;
	margin: 6px 0px;
	border-radius: 50px;
	width: 45%;
	float: left;
}

.msg.player{
	background: white;
	float: right;
}

.chat-form{
	display: flex;
	flex: row;
	align-items: center;
}

.chat-form>input{
	margin: 5px;
	color: white;
	padding: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}